Repository findtopher/fiftyone-archive, changes with the owners that .github/CODEOWNERS names for each.
All owners: @voxel51/backend-devs, @voxel51/frontend-devs, @voxel51/aloha-shirts

upgrade upload-artifact and download-artifact actions to v4 (#4518)
  .github/workflows/build-db.yml
  .github/workflows/build-desktop.yml
  .github/workflows/build-docs.yml
  .github/workflows/build-graphql.yml
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/publish.yml
Owners: none

overridable panel not found component
  app/packages/plugins/src/index.ts
  app/packages/spaces/src/components/Panel.tsx
  app/packages/spaces/src/components/PanelNotFound.tsx
Owners: none

initial python panel e2e test
  app/packages/spaces/src/components/Panel.tsx
  e2e-pw/src/oss/poms/panels/panel.ts
  e2e-pw/src/oss/specs/operators/python-panels.spec.ts
  e2e-pw/src/shared/assets/plugins/e2e/__init__.py
  e2e-pw/src/shared/assets/plugins/e2e/fiftyone.yml
Owners: none

fix grid based views
  fiftyone/operators/types.py
Owners: none

[skip ci] automated bump `fiftyone` to 0.18.0.dev42 and `fiftyone-app` to 1.8.0.dev42
  package/teams/setup.py
  setup.py
Owners: @voxel51/aloha-shirts

[skip ci] automated bump `fiftyone` to 0.18.0.dev43 and `fiftyone-app` to 1.8.0.dev43
  package/teams/setup.py
  setup.py
Owners: @voxel51/aloha-shirts

Manual merge of changes to `fiftyone` made in [PR 4518](https://github.com/voxel51/fiftyone/pull/4518) (#743)
  .github/disabled_workflows/build-db.yml
  .github/disabled_workflows/build-docs.yml
  .github/disabled_workflows/build-graphql.yml
  .github/workflows/build-desktop.yml
  .github/workflows/publish.yml
Owners: none

invoke ffmpeg directly
  e2e-pw/package.json
  e2e-pw/src/shared/media-factory/video.ts
  e2e-pw/yarn.lock
Owners: none

wrap tooltip value
  app/packages/core/src/components/Modal/TooltipInfo.tsx
Owners: none

make tooltip lock text clearer
  app/packages/core/src/components/Modal/TooltipInfo.tsx
Owners: none

add support for exporting existing COCO IDs
  fiftyone/utils/coco.py
Owners: none

fix build-with-no-publish (#746)
  deployment/docker/Dockerfile
  deployment/docker/yarnrc.yml
Owners: @voxel51/aloha-shirts

[skip ci] automated bump `fiftyone` to 0.18.0.dev44 and `fiftyone-app` to 1.8.0.dev44
  package/teams/setup.py
  setup.py
Owners: @voxel51/aloha-shirts

invoke ffmpeg directly
  e2e-pw/package.json
  e2e-pw/src/shared/media-factory/video.ts
  e2e-pw/yarn.lock
Owners: none

tooltip improvements (#4529)
  app/packages/core/src/components/Modal/TooltipInfo.tsx
Owners: none

fix operator browser error details clipped
  app/packages/operators/src/OperatorBrowser.tsx
Owners: none

add Ubuntu 24.04 db support
  package/db/setup.py
Owners: none

handle both jpg and jpeg (#4531)
  app/packages/looker/src/worker/index.ts
Owners: none

make dynamic groups work for fo3d files (#4527)
  app/packages/state/src/recoil/groups.ts
Owners: none

[skip ci] automated bump `fiftyone` to 0.18.0.dev45 and `fiftyone-app` to 1.8.0.dev45
  package/teams/setup.py
  setup.py
Owners: @voxel51/aloha-shirts

handle both jpg and jpeg (#4531)
  app/packages/looker/src/worker/index.ts
Owners: none

make dynamic groups work for fo3d files (#4527)
  app/packages/state/src/recoil/groups.ts
Owners: none

hardcode license and home-page in constants (#4536)
  fiftyone/constants.py
Owners: none

hardcode license and home-page in constants (#4536)
  fiftyone/constants.py
Owners: none

[skip ci] automated bump `fiftyone` to 0.18.0.dev46 and `fiftyone-app` to 1.8.0.dev46
  package/teams/setup.py
  setup.py
Owners: @voxel51/aloha-shirts

use yarn v4 in e2e-pw
  e2e-pw/.gitignore
  e2e-pw/.yarn/releases/yarn-4.3.1.cjs
  e2e-pw/.yarnrc.yml
  e2e-pw/package.json
  e2e-pw/yarn.lock
Owners: none

unsupport python 3.7, deprecate python 3.8 (#4538)
  .github/workflows/test.yml
  README.md
  fiftyone/__init__.py
  package/db/setup.py
  package/desktop/setup.py
  package/graphql/setup.py
  setup.py
Owners: @voxel51/backend-devs, @voxel51/frontend-devs, @voxel51/aloha-shirts

unsupport python 3.7, deprecate python 3.8 (#4538)
  .github/workflows/test.yml
  README.md
  fiftyone/__init__.py
  package/db/setup.py
  package/desktop/setup.py
  package/graphql/setup.py
  setup.py
Owners: @voxel51/backend-devs, @voxel51/frontend-devs, @voxel51/aloha-shirts

Attempted to read home-page and license key from metadata, passing default values (#4537)
  fiftyone/constants.py
Owners: none

Add PR number and author to Teams workflow (#4532)
  .github/workflows/pr.yml
Owners: none

event path
  app/packages/core/src/plugins/SchemaIO/components/ButtonView.tsx
  app/packages/core/src/plugins/SchemaIO/components/PlotlyView.tsx
Owners: none

more robust handling of multiple config docs
  fiftyone/core/odm/database.py
Owners: none

update multiple config docs unit test
  tests/unittests/utils_tests.py
Owners: none

[skip ci] automated bump `fiftyone` to 0.18.0.dev47 and `fiftyone-app` to 1.8.0.dev47
  package/teams/setup.py
  setup.py
Owners: @voxel51/aloha-shirts

[skip ci] automated bump `fiftyone` to 0.18.0.dev48 and `fiftyone-app` to 1.8.0.dev48
  package/teams/setup.py
  setup.py
Owners: @voxel51/aloha-shirts

[skip ci] automated bump `fiftyone` to 0.18.0.dev49 and `fiftyone-app` to 1.8.0.dev49
  package/teams/setup.py
  setup.py
Owners: @voxel51/aloha-shirts

[skip ci] automated bump `fiftyone` to 0.18.0.dev50 and `fiftyone-app` to 1.8.0.dev50
  package/teams/setup.py
  setup.py
Owners: @voxel51/aloha-shirts

[skip ci] automated bump `fiftyone` to 0.18.0.dev51 and `fiftyone-app` to 1.8.0.dev51
  package/teams/setup.py
  setup.py
Owners: @voxel51/aloha-shirts

use aggregation to cleanup
  fiftyone/core/odm/database.py
  fiftyone/migrations/runner.py
Owners: none

[skip ci] automated bump `fiftyone` to 0.18.0.dev52 and `fiftyone-app` to 1.8.0.dev52
  package/teams/setup.py
  setup.py
Owners: @voxel51/aloha-shirts

.github/CODEOWNERS:

# Shared GraphQL schema requires approval from both frontend and backend
/package/graphql @voxel51/backend-devs @voxel51/frontend-devs

# deployment is really an Aloha Shirt thing
/deployment @voxel51/aloha-shirts

# Aloha Shirts care about versioning
/setup.py               @voxel51/aloha-shirts
/package/teams/setup.py @voxel51/aloha-shirts
